body {
    background-color: #111;
}

span {
    display: inline-table;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    line-height: 52px;
    margin: 3px;
    border-radius: 3px;
    border: 1px solid dimgrey;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
    background-color: #000;
}

div {
    margin: auto;
    text-align: center;
}

input[type="button"] {
    width: auto;
    padding: 8px 11px;
    height: 50px;
    background-color: rgb(100, 100, 100);
    font-weight: 400;
    color: white;
    /* Prevent double-tap zooming on buttons */
    touch-action: manipulation;
}


/* The Modal (background) */
.modal {
    /* Hidden by default */
    display: none;
    position: relative;
    /* Sit on top */
    z-index: 1;
    /* Location of the box */
    padding-top: 10px;
    width: auto;
    height: 20%;
    /* Fallback color */
    background-color: rgb(0, 0, 0);
    /* Black w/ opacity */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin-top: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.9s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: 2;
    animation-name: animatetop;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-duration: 0.9s
}

.youwin {
    background-color: #5cb85c
}

/* Add Animation */
@-webkit-keyframes animatetop {
    0% {
        top: -800px;
        opacity: 0
    }

    50% {
        top: -600px;
        opacity: 1
    }

    100% {
        top: -600px;
        opacity: 1
    }
}

@keyframes animatetop {
    0% {
        top: -800px;
        opacity: 0
    }

    50% {
        top: -600px;
        opacity: 1
    }

    100% {
        top: -600px;
        opacity: 1
    }
}

.modal-header {
    padding: 2px 16px;
    background-color: dimgray;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    color: black
}

.modal-footer {
    padding: 2px 16px;
    background-color: dimgrey;
    color: white;
}