body {
    background-color: #111;
}

span {
    display: inline-table;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    line-height: 57px;
    margin: 3px;
    border-radius: 3px;
    border: 1px solid dimgrey;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
    background-color: #000;
}

div {
    margin: auto;
    text-align: center;
}

input[type="button"] {
    background-color: darkgrey;
    color: white;
    /* Prevent double-tap zooming on buttons */
    touch-action: manipulation;
}


/* The Modal (background) */
.modal {
    /* Hidden by default */
    display: none;
    /* Stay in place */
    position: fixed;
    /* Sit on top */
    z-index: 1;
    /* Location of the box */
    padding-top: 10px;
    left: 25%;
    top: 5;
    width: 50%;
    height: 100%;
    /* Enable scroll if needed */
    overflow: auto;
    /* Fallback color */
    background-color: rgb(0, 0, 0);
    /* Black w/ opacity */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.youwin {
    background-color: #5cb85c
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: dimgray;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    color: black
}

.modal-footer {
    padding: 2px 16px;
    background-color: dimgrey;
    color: white;
}