<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/board.css">

    <!DOCTYPE html>
    <html lang="en">

    <!-- Minified version -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    <link rel="stylesheet" href="../static/board.css">


</head>

<body>

    <!-- Game board tiles -->
    <div class="container" , id="game-board">
        <h2></h2>
        <div>
            <span class="r1-c1"></span>
            <span class="r1-c2"></span>
            <span class="r1-c3"></span>
            <span class="r1-c4"></span>
            <span class="r1-c5"></span>
        </div>
        <div>
            <span class="r2-c1"></span>
            <span class="r2-c2"></span>
            <span class="r2-c3"></span>
            <span class="r2-c4"></span>
            <span class="r2-c5"></span>
        </div>
        <div>
            <span class="r3-c1"></span>
            <span class="r3-c2"></span>
            <span class="r3-c3"></span>
            <span class="r3-c4"></span>
            <span class="r3-c5"></span>
        </div>
        <div>
            <span class="r4-c1"></span>
            <span class="r4-c2"></span>
            <span class="r4-c3"></span>
            <span class="r4-c4"></span>
            <span class="r4-c5"></span>
        </div>
        <div>
            <span class="r5-c1"></span>
            <span class="r5-c2"></span>
            <span class="r5-c3"></span>
            <span class="r5-c4"></span>
            <span class="r5-c5"></span>
        </div>
        <div>
            <span class="r6-c1"></span>
            <span class="r6-c2"></span>
            <span class="r6-c3"></span>
            <span class="r6-c4"></span>
            <span class="r6-c5"></span>
        </div>
    </div>


    <!-- Virtual keyboard -->
    <div id="VirtualKey" , margin="auto">
        <input id="btnQ" type="button" value="Q" onclick="input(this);" />
        <input id="btnW" type="button" value="W" onclick="input(this);" />
        <input id="btnE" type="button" value="E" onclick="input(this);" />
        <input id="btnR" type="button" value="R" onclick="input(this);" />
        <input id="btnT" type="button" value="T" onclick="input(this);" />
        <input id="btnY" type="button" value="Y" onclick="input(this);" />
        <input id="btnU" type="button" value="U" onclick="input(this);" />
        <input id="btnI" type="button" value="I" onclick="input(this);" />
        <input id="btnO" type="button" value="O" onclick="input(this);" />
        <input id="btnP" type="button" value="P" onclick="input(this)" />
        <br />
        <input id="btnA" type="button" value="A" onclick="input(this);" />
        <input id="btnS" type="button" value="S" onclick="input(this);" />
        <input id="btnD" type="button" value="D" onclick="input(this);" />
        <input id="btnF" type="button" value="F" onclick="input(this);" />
        <input id="btnG" type="button" value="G" onclick="input(this);" />
        <input id="btnH" type="button" value="H" onclick="input(this);" />
        <input id="btnJ" type="button" value="J" onclick="input(this);" />
        <input id="btnK" type="button" value="K" onclick="input(this);" />
        <input id="btnL" type="button" value="L" onclick="input(this);" />
        <br />
        <input id="btnENTER" type="button" value="Enter" onclick="enter(this);" />
        <input id="btnZ" type="button" value="Z" onclick="input(this);" />
        <input id="btnX" type="button" value="X" onclick="input(this);" />
        <input id="btnC" type="button" value="C" onclick="input(this);" />
        <input id="btnV" type="button" value="V" onclick="input(this);" />
        <input id="btnB" type="button" value="B" onclick="input(this);" />
        <input id="btnN" type="button" value="N" onclick="input(this);" />
        <input id="btnM" type="button" value="M" onclick="input(this);" />

        <input id="btnDel" type="button" value="⌫" onclick="del();" />
    </div>

    <script src="../static/game.js"></script>

</body>

</html>